@use "globals" as *;

body {
    background-color: $main-color;
    color: $color-3;
}

main {

    #sobremi {
        h1 {
            width: $width-sobremi-h1;

            @include respond-to("large") {
                width: $width-sobremi-h1-large;
            }

            @include respond-to("medium") {
                width: $width-sobremi-h1-medium;
            }
        }

        article {
            background-color: $color-3;
            color: $main-color;
            border-radius: $border-radius-sobremi-article;
            display: inline-block;

            &:nth-child(2) {
                float: right;
            }

        }

        #clear-both {
            clear: both;
        }
    }

    #proyectos {
        h2 {
            width: $width-proyectos-h2;

            @include respond-to("large") {
                width: $width-proyectos-h2-large;
            }

            @include respond-to("medium") {
                width: $width-proyectos-h2-medium;
            }
        }

        article {
            display: flex;
            flex-wrap: wrap;
            color: $main-color;
            align-items: center;
            justify-content: center;

            >div {
                background-color: $color-3;
                border-width: $border-width-proyectos-article-div;
                border-color: $color-1;
                border-style: solid;
                height: $height-proyectos-article-div;
                width: $width-proyectos-article-div;
                text-align: center;
                position: relative;

                img {
                    width: $width-proyectos-article-div-a-img;
                }

                a {
                    display: block;
                    height: $height-proyectos-article-div-a;

                    .opacidad {
                        background-color: $color-5;
                        height: $height-opacidad;
                        width: $width-opacidad;
                        position: absolute;
                        top: $top-opacidad;
                        opacity: $opacity-opacidad;

                        &:hover {
                            opacity: $opacity-opacidad-hover;
                        }
                    }
                }

            }
        }
    }

    #contacto {
        h2 {
            width: $width-contacto-h2;

            @include respond-to("medium") {
                width: $width-contacto-h2-medium;
            }
        }

        article {
            display: flex;
            flex-wrap: wrap;

            a {
                color: $color-5;

                &:hover {
                    background-color: $color-1;
                    color: $main-color;
                }
            }
        }

    }
}