@use "globals" as *;

header {
    background-color: $color-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-3;
    position: sticky;
    z-index: $z-index-header;
    top: $top-header;

    @include respond-to("narrow") {
        flex-wrap: wrap;
    }

    i,
    span,
    h3 {
        color: $color-5;
    }

    .btn-hamburguesa {
        display: none;
        padding: 0.4rem;
        background-color: $color-2;
        border: none;

        i{
            color: $color-1;
        }

        @include respond-to("large") {
            display: block;
        }

    }

    .links {
        display: flex;
        align-items: center;

        .nav {
            @include respond-to("large") {
                display: none;
                position: absolute;
                top: $top-nav;
                right: $right-nav;
                background-color: $color-2;
                padding: $p-1;

                @include respond-to("small") {
                    top: $top-nav-small;
                }
            }
        }

        .nav-abierta {
            display: block;
        }

        .nav-list {
            display: flex;

            @include respond-to("large") {
                flex-direction: column;
            }
        }

    }

    a {
        color: $color-3;

        &:hover {
            color: $color-5;
            background-color: $main-color;
            border-radius: 0.5rem;
        }
    }
}