@use "globals" as *;

header {
    background-color: $color-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-3;
    position: sticky;
    z-index: $z-index-header;
    top: $top-header;

    i,
    span,
    h3 {
        color: $color-5;
    }

    .navbar {
        display: flex;

        #dropdown-btn {
            @include respond-to("large") {
                &:hover {
                    background-color: $main-color;
                }
    
                &:hover + nav{
                    display: block;
                }
            }
            
        }

        nav {
            h3 {
                display: inline-block;

                @include respond-to("large") {
                    display: none;
                }
            }
        }
    }

    


    a {
        color: $color-3;

        &:hover {
            color: $color-5;
            background-color: $main-color;
            border-radius: 0.5rem;
        }
    }
}