@use "globals" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

h1 {
    font-size: $font-size-h1;
    line-height: $line-spacing-h1;
    font-weight: $font-weight-h1;

    @include respond-to("medium") {
        font-size: $font-size-h1-medium;
    }

    @include respond-to("small") {
        font-size: $font-size-h1-small;
        line-height: $line-spacing-h1-small;
    }
}

h2 {
    font-size: $font-size-h2;
    line-height: $line-spacing-h2;
    font-weight: $font-weight-h2;

    @include respond-to("medium") {
        font-size: $font-size-h2-medium;
    }

    @include respond-to("small") {
        font-size: $font-size-h2-small;
    }
}

h3 {
    font-size: $font-size-h3;
    line-height: $line-spacing-h3;
    font-weight: $font-weight-h3;

    @include respond-to("small") {
        font-size: $font-size-h3-small;
    }
}

p {
    font-size: $font-size-paragraph;
    line-height: $line-spacing-paragraph;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: $margin-container;

    @include respond-to("medium") {
        margin: $margin-container-medium;
    }
}

.morado-light {
    color: $color-5;
}

.morado-dark {
    color: $color-4;
}

.azul-light {
    color: $color-1;
}

.azul-dark {
    color: $color-2;
}

.m-1 {
    margin: $m-1;
}

.m-2 {
    margin: $m-2;
}

.m-3 {
    margin: $m-3;
}

.m-4 {
    margin: $m-4;
}

.m-5 {
    margin: $m-5;
}

.m-6 {
    margin: $m-6;
}

.mt-1 {
    margin-top: $m-1;
}

.mt-2 {
    margin-top: $m-2;
}

.mt-3 {
    margin-top: $m-3;
}

.mt-4 {
    margin-top: $m-4;
}

.mt-5 {
    margin-top: $m-5;
}

.mt-6 {
    margin-top: $m-6;
}

.mb-1 {
    margin-bottom: $m-1;
}

.mb-2 {
    margin-bottom: $m-2;
}

.mb-3 {
    margin-bottom: $m-3;
}

.mb-4 {
    margin-bottom: $m-4;
}

.mb-5 {
    margin-bottom: $m-5;
}

.mb-6 {
    margin-bottom: $m-6;
}

.ml-1 {
    margin-left: $m-1;
}

.ml-2 {
    margin-left: $m-2;
}

.ml-3 {
    margin-left: $m-3;
}

.ml-4 {
    margin-left: $m-4;
}

.ml-5 {
    margin-left: $m-5;
}

.ml-6 {
    margin-left: $m-6;
}

.mr-1 {
    margin-right: $m-1;
}

.mr-2 {
    margin-right: $m-2;
}

.mr-3 {
    margin-right: $m-3;
}

.mr-4 {
    margin-right: $m-4;
}

.mr-5 {
    margin-right: $m-5;
}

.mr-6 {
    margin-right: $m-6;
}

.p-1 {
    padding: $p-1;
}

.p-2 {
    padding: $p-2;
}

.p-3 {
    padding: $p-3;
}

.p-4 {
    padding: $p-4;
}

.p-5 {
    padding: $p-5;
}

.p-6 {
    padding: $p-6;
}

.pt-1 {
    padding-top: $p-1;
}

.pt-2 {
    padding-top: $p-2;
}

.pt-3 {
    padding-top: $p-3;
}

.pt-4 {
    padding-top: $p-4;
}

.pt-5 {
    padding-top: $p-5;
}

.pt-6 {
    padding-top: $p-6;
}

.pb-1 {
    padding-bottom: $p-1;
}

.pb-2 {
    padding-bottom: $p-2;
}

.pb-3 {
    padding-bottom: $p-3;
}

.pb-4 {
    padding-bottom: $p-4;
}

.pb-5 {
    padding-bottom: $p-5;
}

.pb-6 {
    padding-bottom: $p-6;
}

.pl-1 {
    padding-left: $p-1;
}

.pl-2 {
    padding-left: $p-2;
}

.pl-3 {
    padding-left: $p-3;
}

.pl-4 {
    padding-left: $p-4;
}

.pl-5 {
    padding-left: $p-5;
}

.pl-6 {
    padding-left: $p-6;
}

.pr-1 {
    padding-right: $p-1;
}

.pr-2 {
    padding-right: $p-2;
}

.pr-3 {
    padding-right: $p-3;
}

.pr-4 {
    padding-right: $p-4;
}

.pr-5 {
    padding-right: $p-5;
}

.pr-6 {
    padding-right: $p-6;
}