@font-face {
  font-family: roboto;
  src: url(../assets/roboto.woff2);
}

/* Padding */
$p-0: 0rem;
$p-1: 1rem;
$p-2: 2rem;
$p-3: 3rem;
$p-4: 4rem;
$p-5: 5rem;
$p-6: 6rem;

/* Margin */
$m-0: 0rem;
$m-1: 1rem;
$m-2: 2rem;
$m-3: 3rem;
$m-4: 4rem;
$m-5: 5rem;
$m-6: 6rem;

$margin-container: 0 $m-3;
$margin-container-medium: 0 $m-1;

/* Typography */
$font-size-h1: 3.5rem;
$font-size-h1-medium: 2.5rem;
$font-size-h1-small: 1.7rem;
$font-size-h2: 2.625rem;
$font-size-h2-medium: 2.125rem;
$font-size-h2-small: 1.5rem;
$font-size-h3: 1.875rem;
$font-size-h3-small: 1.5rem;
$font-size-paragraph: 1rem;

//El line height no funciona igual que en Figma.
$line-spacing-h1: 4.5rem;
$line-spacing-h1-small: 2.5rem;
$line-spacing-h2: 3.5rem;
$line-spacing-h3: 3.25rem;
$line-spacing-paragraph: 1.5rem;

$font-family: Roboto, sans-serif;

$font-weight-h1: 50;
$font-weight-h2: 50;
$font-weight-h3: 10;
/* Grid */
$grid-template-columns: repeat(12, 1fr);
$grid-size: 4.0625rem;
$gap: 1rem;

/* Color */
$color-1: #6d83f2;
$color-2: #2d57a0;
$color-3: #ebebeb;
$color-4: #7327d1;
$color-5: #b87eff;
$main-color: #282828;

/* Icons */
$height-main-icons: 2.5rem;
$height-header-icon: 3.625rem;

/* Sizes */
$width-sobremi-h1: 56.25rem;
$width-sobremi-h1-large: 50rem;
$width-sobremi-h1-medium: 35rem;
$width-sobremi-h1-narrow: 29rem;
$width-sobremi-h1-small: 18.75rem;
$width-proyectos-article-div: 25rem;
$width-proyectos-h2: 62.375rem;
$width-proyectos-h2-large: 50rem;
$width-proyectos-h2-medium: 35rem;
$width-proyectos-h2-narrow: 29rem;
$width-proyectos-h2-small: 18.75rem;
$width-proyectos-article-div-a-img: 100%;
$width-contacto-h2: 38.625rem;
$width-contacto-h2-medium: 34.125rem;
$width-contacto-h2-narrow: 29rem;
$width-contacto-h2-small: 18.75rem;
$width-opacidad: 100%;

$height-proyectos-article-div: 17rem;
$height-proyectos-article-div-a: 100%;
$height-opacidad: 100%;

$border-radius-sobremi-article: 3rem;

$border-width-proyectos-article-div: 2px;

/* Positions */
$z-index-header: 3;

$top-header: 0;
$top-opacidad: 0;
$top-nav: 5rem;
$top-nav-small: 0rem;

$right-nav: 0;


$opacity-opacidad: 0%;
$opacity-opacidad-hover: 35%;

$breakpoints: (
  "large": "max-width: 1100px",
  "medium": "max-width: 850px",
  "narrow": "max-width: 600px",
  "small": "max-width: 500px", 
);